// Use normailze library for constant styles.
@import "/node_modules/normalize.css/normalize.css";

// Import variables , mixins , placeholders
@import "variables";
@import "mixins";
@import "placehoders";

// General styles.

* {
  box-sizing: border-box;
  font-family: "Noto Sans Arabic", sans-serif;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

body,
html,
main {
  @extend %w100_h100;
  direction: rtl;
}

.myContainer {
  @extend %w100_h100;
  @extend %flex_center;
  :last-child {
    flex-grow: 1;
  }
}

// import styles
// @import "../layouts/LoginLayout/login-layout.module.scss";
// @import "../layouts/GateAndScallLayout/components/navbar.module.scss";
