.create__visit__btn {
    padding: .3rem 2rem !important;
    box-shadow: 1px 1px 4px 0px #868686;

}

.visit__types {
    position: relative;
    right: -5rem;
}

.error {
    color: rgb(255 123 111);
    ;
}

.error__field {
    border: 1px solid rgb(255 123 111);
    padding: .7rem 1.2rem;
    color: white !important;
    outline: none;
    transition: all 0.5s ease-out;
    border-radius: 10px;
}

.normal__field {
    border: 1px solid rgb(223, 223, 223);
    padding: .7rem 1.2rem;
    color: white !important;
    outline: none;
    transition: all 0.5s ease-out;
    border-radius: 10px;
}

.common__Modal {
    // background: linear-gradient(265deg, #1f3030 15%, rgb(37 68 72) 13%);
    background: linear-gradient(-42deg, #0b2727 6%, rgb(37, 68, 72) 27%);
    // background: linear-gradient(45deg, #233a7d, #04ffc9);
    color: white !important;
}

.submit__btn {
    font-size: 1.1rem !important;
    padding: .3rem 3rem !important;
    background: gray !important;
    color: #ffffff !important;
}

.drop__style {
    color: white !important;
}