@use "../../../../styles/variables" as *;
.create__visit__btn{
  padding: .4rem 4rem!important;
}
.visit__types{
  position: relative;
  right: -5rem;
}
.error{
  color:rgb(164, 39, 28)!important ;
}
  .visit__Modal{
    background: linear-gradient(45deg, #233a7d, #04ffc9);
    color: $whiteColor;
  }
.input__field{
  border: 1px solid $whiteColor!important;
}