@use "../../../../styles/variables" as *;
.create__visit__btn{
  padding: .4rem 4rem!important;
}
.visit__types{
  position: relative;
  right: -5rem;
}
.error{
  color:rgb(123, 22, 13);;
}
.valid__field{
  border: 1px solid rgb(0, 128, 111);
  padding: 1.2rem;
  color: white!important;
  outline: none;
  transition: all .35s ease-in-out;
  border-radius: 10px;
}
.error__field{
  border: 1px solid rgb(219, 75, 62);
  padding: .9rem 1.2rem;
  color: white!important;
  outline: none;
  transition: all 0.5s ease-out;
  border-radius: 10px;
}
.normal__field{
  border: 1px solid rgb(223, 223, 223)!important;
  padding: .9rem 1.2rem;
  color: white!important;
  outline: none;
  transition: all 0.5s ease-out;
  border-radius: 10px;
}
.common__Modal{
  background: rgb(28,175,143);
  background: radial-gradient(circle, rgb(19 159 129) 35%, rgb(0 44 30) 94%, rgb(255 255 255) 100%);
  // background: linear-gradient(45deg, #233a7d, #04ffc9);
  color: white!important;
}
.calc__weight__btn{
  padding: .9rem .6rem !important;
}