// Use normailze library for constant styles.
@import "/node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

// Import variables , mixins , placeholders
@import "variables";
@import "mixins";
@import "placehoders";

// General styles.

* {
  box-sizing: border-box;
  font-family: "Noto Sans Arabic", sans-serif;
  font-family: 'Amiri', serif;
}
#root{
  height: 100% !important;
}
body,
html,
main {
  @extend %w100_h100;
  direction: rtl;
  max-width: 100%;
}

.myContainer {
  background: linear-gradient(45deg, #00000029, transparent);
  @extend %w100_h100;
  height: fit-content;
  @extend %flex_center;
  align-items: flex-start;
  direction: ltr;
  :last-child {
    flex-grow: 1;
  }
}
// #myLineChart .chartjs-render-monitor .legend text {
//   fill: white;
// }
// import styles
// @import "../layouts/LoginLayout/login-layout.module.scss";
// @import "../layouts/GateAndScallLayout/components/navbar.module.scss";
/* Style the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #198754, #000000dd);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #0fb4ca;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #1d98ab;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper{
  background-color: rgb(235, 231, 30);
  border-radius: 50%;
}