// Use normailze library for constant styles.
@import "/node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');

// Import variables , mixins , placeholders
@import "variables";
@import "mixins";
@import "placehoders";

// General styles.

* {
  box-sizing: border-box;
  font-family: "Noto Sans Arabic", sans-serif;
  font-family: 'Amiri', serif;
}

body,
html,
main {
  @extend %w100_h100;
  direction: rtl;
  max-width: 100%;
}

.myContainer {
  @extend %w100_h100;
  @extend %flex_center;
  direction: ltr;
  :last-child {
    flex-grow: 1;
  }
}

// import styles
// @import "../layouts/LoginLayout/login-layout.module.scss";
// @import "../layouts/GateAndScallLayout/components/navbar.module.scss";
